.navbar{
    background-color:#1e90ff;
    opacity: 0.8;
}
.navbar-brand{
    color:  #464949;
}
#upload-header{
    margin-top: 8%;
}
#result-header{
    margin-top: 5%;
}
#img {
    max-width: 100%;
    max-height: 100%;
}
#tensorflow{
    float: right;
    max-width: 300px; 
    max-height: 300px;
}
.pb-4{
    display: none;
}
#brain-icon{
    max-width: 100px;
    max-height: 100px;
    float: right;
}
#foot{
    display: inline-block;
}
#made-with{
    float: right;
}