{% extends "outline.html" %}
{% block body %}
<body>
    <div>
        <div class="jumbotron">
            <h1 class="display-3">Brain Tumor Analyzer</h1>
        </div>
        <div class="pb-4">
            <h1 class="display-4 pb-4">Upload Brain Scan</h1>
            <div class="container d-flex justify-content-center align-items-center">
                <div class="col-md-5 mx-auto border">
                    {{ brain }}
                    <label for="b">Brain Original</label>
                    <img id="b" alt="Brain Pic" src="https://cdn.vox-cdn.com/thumbor/cBuSNsK9Wy5zg2zGZV2scDnvN18=/0x0:1436x727/1200x800/filters:focal(623x104:851x332)/cdn.vox-cdn.com/uploads/chorus_image/image/58182757/Screen_Shot_2018_01_02_at_1.48.07_PM.0.png">
                </div>
                <div class="col-md-5 mx-auto border">
                    {{ tumor }}
                    <label for="t">Brain Original</label>
                    <img id="t" alt="Brain Pic" src="https://s2.r29static.com//bin/entry/8ca/720x864,85/2026350/image.webp">
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock body %}